body{
    display: flex;

}

#header{
    width:90vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:solid 2px black;

}
#wampe{
    display: flex;
    justify-content: center;
    height: 100vh;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 100px;

}
#Ll{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 70px;
    height: 30px;
    text-decoration: none;
    color: black;
}
#Ll:hover{
    border: solid 2px rgb(210, 210, 210);
}