#L{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 200px;
    height: 50px;
    margin: 10px;
    text-decoration: none;
    color: black;
}
#L:hover{
    border: solid 2px black;
}
#langCon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:200px;
    height:90vh;
    
}
